*, *::before, *::after {
    box-sizing: border-box;
    font: inherit;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: Lato, sans-serif;
}

ul li{
list-style: none;
}
img, picture, svg, video {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
/* scrollbar */
::-webkit-scrollbar{
    width: .7vw;
    height: 1vw;
}
::-webkit-scrollbar-track{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    margin-block:2px 22px;
}
::-webkit-scrollbar-thumb{
    background-color:#c1d2ea;
    border-radius: 10px;
}

.cur{cursor: pointer;}
/* flex common class - start */
.flex { display: flex;}
.flexC { display: flex; align-items: center; }
.flexIC { display: inline-flex; align-items: center; }
.flexM { display: flex; align-items: center;  justify-content: center; }
.flex-col { display: flex; flex-direction: column; }

.fdir-col { flex-direction: column; }
.flexG { flex-grow: 1;}
.fshrink { flex-shrink: 0; }
.flex1 { flex: 1; }
.flexW { flex-wrap: wrap; }
.justifySB { justify-content: space-between; }
.justifyC { justify-content: center; }
.justifyE { justify-content: flex-end; }
.alignC { align-items: center; }
.dblock{display: block;}
.h-100{height: 100%;}
/* Text property - start */
.textC { text-align: center; }
/* Text property - end */

/* font - start */
.fs10 {font-size: 0.454rem;}
.fs12 {font-size: 0.675rem;}
.fs14 {font-size: 0.875rem;}
.fs18 {font-size: 1.125rem;}
.fs20 {font-size: 1.25rem;}
.fs22 {font-size: 1.375rem;}
.fs24 {font-size: 1.5rem;}
.fs26 {font-size: 1.625rem;}
.fs28 {font-size: 1.75rem;}


/* margin - start*/
.m0{margin: 0;}
.mAuto{margin: auto;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m14{margin: 14px;}
.m20{margin: 20px;}
.m24{margin: 24px;}
.m30{margin: 30px;}

.mT0{margin-top: 0;}
.mT5  {margin-top:  5px;}
.mT10 {margin-top: 10px;}
.mT14 {margin-top: 14px;}
.mT20 {margin-top: 20px;}
.mT24 {margin-top: 24px;}
.mT30 {margin-top: 30px;}
.mT40 {margin-top: 40px;}

.mB{margin-bottom: 0;}
.mB5{margin-bottom: 5px;}
.mB10{margin-bottom: 10px;}
.mB14{margin-bottom: 14px;}
.mB20{margin-bottom: 20px;}
.mB24{margin-bottom: 24px;}
.mB30{margin-bottom: 30px;}

.mL0{margin-left: 0;}
.mLauto{margin-left: auto;}
.mL5{margin-left: 5px;}
.mL10{margin-left: 10px;}
.mL4{margin-left: 14px;}
.mL20{margin-left: 20px;}
.mL24{margin-left: 24px;}
.mL30{margin-left: 30px;}

.mR0{margin-right: 0;}
.mRauto{margin-right: auto;}
.mR5{margin-right: 5px;}
.mR10{margin-right: 10px;}
.mR14{margin-right: 14px;}
.mR20{margin-right: 20px;}
.mR24{margin-right: 24px;}
.mR30{margin-right: 30px;}

.mY0{margin-block: 0;}
.mY5{margin-block:5px;}
.mY10{margin-block:10px;}
.mY20{margin-block:20px;}
.mY24{margin-block:24px;}
.mY30{margin-block:30px;}

.mX0{margin-inline: 0;}
.mX5{margin-inline: 5px;}
.mX10{margin-inline: 10px;}
.mX20{margin-inline: 20px;}
.mX24{margin-inline: 24px;}
.mX30{margin-inline: 30px;}
/* margin - end*/

/* padding - start*/
.p0{padding:0;}
.pAuto{padding: auto;}
.p5 { padding: 5px;}
.p10 { padding: 10px;}
.p14 { padding: 14px;}
.p20 { padding: 20px;}
.p24 { padding: 24px;}
.p30 { padding: 30px;}
.p40 { padding: 40px;}
.p80 { padding: 80px;}

.pT0{padding-top: 0;}
.pT5{padding-top: 5px;}
.pT10{padding-top: 10px;}
.pT14{padding-top: 14px;}
.pT20{padding-top: 20px;}
.pT24{padding-top: 24px;}
.pT30{padding-top: 30px;}
.pT40{padding-top: 40px;}

.pB0{padding-bottom: 0px;}
.pB5{padding-bottom: 5px;}
.pB10{padding-bottom: 10px;}
.pB14{padding-bottom: 14px;}
.pB20{padding-bottom: 20px;}
.pB24{padding-bottom: 24px;}
.pB30{padding-bottom: 30px;}
.pB40{padding-bottom: 40px;}

.pL0{padding-left: 0;}
.pL5{padding-left: 5px;}
.pL10{padding-left: 10px;}
.pL14{padding-left: 14px;}
.pL20{padding-left: 20px;}
.pL24{padding-left: 24px;}
.pL30{padding-left: 30px;}
.pL40{padding-left: 40px;}

.pR0{padding-right:0;}
.pR5{padding-right:5px;}
.pR10{padding-right: 10px;}
.pR14{padding-right: 14px;}
.pR20{padding-right: 20px;}
.pR24{padding-right: 24px;}
.pR30{padding-right: 30px;}
.pR40{padding-right: 40px;}

.pY0{padding-block: 0px;}
.pY5{padding-block: 5px;}
.pY10{padding-block: 10px;}
.pY20{padding-block: 20px;}
.pY24{padding-block: 24px;}
.pY30{padding-block: 30px;}
.pY40{padding-block: 40px;}

.pX0{padding-inline: 0px;}
.pX5{padding-inline: 5px;}
.pX10{padding-inline: 10px;}
.pX20{padding-inline: 20px;}
.pX24{padding-inline: 24px;}
.pX30{padding-inline: 30px;}
/* padding - end*/

/* gap start */
.gap5{gap: 5px;}
.gap10{gap: 10px;}
.gap14{gap: 14px;}
.gap20{gap: 20px;}
.gap24{gap: 24px;}
.gap30{gap: 30px;}
/* gap end */
